/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /* Body Styles */
  body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    padding: 20px;
  }

  /* Heading */
  h1 {
    font-size: 28px;
    color: #f44336;  /* Red color to indicate caution */
    margin-bottom: 20px;
  }

  /* Paragraph Text */
  p {
    font-size: 25px;
    margin-bottom: 30px;
    margin-right: 50px;
  }



  button {
    background-color: #f44336;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    transition: background-color 0.3s;
  }

  button:hover {
    background-color: #d32f2f;
  }


.delete-form {
    margin-top: 20px;
  }


  a {
    margin-top: 10px;
    display: inline-block;
    text-decoration: none;
    color: #007bff;
  }

  a:hover {
    text-decoration: underline;
    color: #0056b3;
  }
