/* public/styles/style.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #4CAF50;
    color: white;
}

a {
    text-decoration: none;
    color: #007BFF;

}

a:hover {
    color: #0056b3;
}

form {
    display: inline; /* Keep forms inline to prevent breaking the layout */
}

button {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

button:hover {
    opacity: 0.8;
}

.btn {
    display: inline-block;
    text-align: center;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.add-btn {
    background-color: #4CAF50;
    color: white;
    text-decoration: none;

}


.add-btn:hover {
    background-color: #45a049;
}

.edit-btn {
    background-color: #FF9800;
    color: white;
    border: none;
    padding: 5px 15px;
    cursor: pointer;
    font-size: 14px;
}

.edit-btn:hover {
    background-color: #e68900;
}

.delete-btn {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px 15px;
    cursor: pointer;
    font-size: 14px;
}

.delete-btn:hover {
    background-color: #d32f2f;
}

.center-button {
    display: flex;
    justify-content: center;
    height: 100vh;
  }

  .center-button a {
    text-decoration: none;
  } 
